<?xml version="1.0"?>
<launch>
<node name="slave_controller" pkg="haptic_teleoperation" type="controller_ros" ns="/haptic_teleoperation">
<rosparam command="load" file="$(find haptic_teleoperation)/config/slave_controller_params_ground.yaml" />
<rosparam command="load" file="$(find haptic_teleoperation)/config/slave_params.yaml" />
<rosparam command="load" file="$(find haptic_teleoperation)/config/master_params.yaml" />
    <remap from="/mavros/vision_pose/pose" to="RosAria/pose"/> 
  <remap from="/cmd_vel" to="/RosAria/cmd_vel"/>   
</node>
<!-- Run the master controller controller -->
<node name="master_controller" pkg="haptic_teleoperation" type="controller_ros" ns="/haptic_teleoperation" >
<rosparam command="load" file="$(find haptic_teleoperation)/config/slave_params.yaml" />
<rosparam command="load" file="$(find haptic_teleoperation)/config/master_controller_params_ground.yaml" />
<rosparam command="load" file="$(find haptic_teleoperation)/config/master_params.yaml" />
  <remap from="/cmd_vel" to="/RosAria/cmd_vel"/>   
  <remap from="/mavros/vision_pose/pose" to="RosAria/pose"/> 
    
</node>


<!-- <node name="CollisionDetection" pkg="haptic_teleoperation" type="createOctmap" output="screen"  ns="/haptic_teleoperation" >  </node>  -->



<!--<node name="prf_feedback_force" pkg="haptic_teleoperation" type="prf_feedback_force" output="screen"  ns="/haptic_teleoperation" >
    <rosparam command="load" file="$(find haptic_teleoperation)/config/potential_field.yaml" />
    <remap from="/ground_truth/state" to="/RosAria/pose"/> 
    <remap from="/cmd_vel" to="/RosAria/cmd_vel"/>
  </node> -->
</launch>
